<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">






	<bean id="Patient"
		class="com.livingoncodes.test.Tutorial6.Patient" c:id="7"
		c:name="Niha">
		<property name="emergencyContractNames">
			<list>
				<value>liza</value>
				<value>niha</value>
				<value>mini</value>
				<value>moni</value>
				<value>bini</value>
				<value>vini</value>

			</list>
		</property>
	</bean>



</beans>
