<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<bean id="Writer"
		class="com.tuorial19.text.T19AutoWearing.ConsolWriter"></bean>
	<!-- <bean id="mrbean"
		class="com.tuorial19.text.T19AutoWearing.ConsolWriter">
		<qualifier value="consoleWriter"></qualifier>
	</bean> -->

	<bean id="demoWriter"
		class="com.tuorial19.text.T19AutoWearing.FileWriter"></bean>


	<bean id="logger" class="com.tuorial19.text.T19AutoWearing.Logger"></bean>
	<context:annotation-config></context:annotation-config>
</beans>
